#container
{
    width: 500px;
    margin: 0 auto;
}

.para{
    margin:10px 0 10px 0;
}

#grid 
{
    margin-top: 10px;
    height:500px;
    width: 500px;
    line-height:0px;
}

.square
{
    display: inline-block;
    background: #EEE;
}

.hover
{
    background: black;
}

.button{
    padding: 5px 10px;
    background-color: #F0F0F0;
    text-decoration:none;
    color: #000;
}